.container {
  display: flex;
  min-width: 950px;
  height: 100%;
}
.container .ant-layout-sider {
  box-sizing: border-box;
}
.container .ant-layout {
  /* 防止 tabs 超出不收缩 */
  overflow-x: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container .ant-layout .ant-layout-content {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
  overflow-x: hidden;
}
